<div class="progress-report">
  <h1><a href="/families/<%= @family.id %>"><%= @family.name %></a> Progress Report</h1>

  <%= form_for(@report, method: "POST", url: ('/reports/progress/' + @family.id.to_s)) do |f| %>
    <table>
      <thead>
        <tr>
          <th>Within One Month after Baptism or Return to Activity</th>
          <th>Date completed (YYYY-MM-DD)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>The bishop has interviewed the member and reviewed the principle of tithing and other worthiness matters to assist in preparation for temple worship</td>
          <td><%= f.text_field(:worthinessInterview) %></td>
        </tr>
        <tr>
          <td>Eligible males have been interviewed for and received the Aaronic Priesthood</td>
          <td><%= f.text_field(:priesthoodInterview) %></td>
        </tr>
        <tr>
          <td>The member is enrolled in the Gospel Principles course</td>
          <td><%= f.text_field(:gospelPrinciples) %></td>
        </tr>
        <tr>
          <td>Ward and full-time missionaries are reteaching the missionary lessons (as outlined in Preach My Gospel)</td>
          <td><%= f.text_field(:reteachLessons) %></td>
        </tr>
      </tbody>

      <thead>
        <tr>
          <th>Within Six Months after Baptism or Return to Activity</th>
          <th>Date completed (YYYY-MM-DD)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>The member has been interviewed for and received a responsibility or calling in the Church</td>
          <td><%= f.text_field(:responsibility) %></td>
        </tr>
        <tr>
          <td>The member is regularly attending sacrament meeting</td>
          <td><%= f.text_field(:attendingSacrament) %></td>
        </tr>
        <tr>
          <td>The member has started a family group sheet</td>
          <td><%= f.text_field(:familyGroupSheet) %></td>
        </tr>
      </tbody>

      <thead>
        <tr>
          <th>As Soon as Appropriate during the First Year</th>
          <th>Date completed (YYYY-MM-DD)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Eligible and worthy males have been prepared for and received the Melchizedek Priesthood</td>
          <td><%= f.text_field(:priesthood) %></td>
        </tr>
        <tr>
          <td>Members ages 12 and older have participated in proxy baptisms in the temple (where feasible)</td>
          <td><%= f.text_field(:proxyBaptisms) %></td>
        </tr>
        <tr>
          <td>Eligible members have completed the temple preparation seminar (see Endowed from on High: Temple Preparation Seminar Teacher's Manual)</td>
          <td><%= f.text_field(:templePrep) %></td>
        </tr>
      </tbody>

      <thead>
        <tr>
          <th>When Prepared, but Not before One Year following Baptism</th>
          <th>Date completed (YYYY-MM-DD)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Eligible and worthy adults have been endowed</td>
          <td><%= f.text_field(:endowed) %></td>
        </tr>
        <tr>
          <td>The family has been sealed in the temple (if applicable)</td>
          <td><%= f.text_field(:sealed) %></td>
        </tr>
      </tbody>
    </table>

    <%= f.submit "Save" %>
  <% end %>
</div>
