<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>Thornton Creek Ward Area Book</title>
    <!-- START:stylesheet -->
    <%= stylesheet_link_tag "sortable", :media => "all" %>
    <%= stylesheet_link_tag "areabook", :media => :screen %>
    <%= stylesheet_link_tag "progress", :media => :screen %>
    <%= stylesheet_link_tag "print", :media => :print %>
    <!-- <label id="code.slt"/> -->
    <%= javascript_include_tag "application"%>
    <!-- END:stylesheet -->
</head>
<body id="store">
  <div id="banner">
    <%= @page_title || "Thornton Creek Ward Area Book" %>
    <div>
      <%= session[:user_name] %><br>
      <%= link_to "logout", logout_path %>
    </div>
  </div>
  <div id="columns">
    <div id="side">
      <ul>
        <% if session[:access_level] >=2 %>
          <li><%= link_to 'Ward List', :controller => 'families' %></li>
          <li><%= link_to 'Other Families', :controller => 'families', :action => 'investigators'  %></li>
          <li><%= link_to 'Teaching Pool', :controller => 'teaching_records' %></li>
          <li><%= link_to 'Home Teaching', :controller => 'teaching_routes' %></li>
          <li><%= link_to 'Visiting Teaching', visiting_teaching_path %></li>
        <% else %>
          <li><%= link_to 'Ward List', :controller => 'families', :action => 'members'  %></li>
        <% end %>
      </ul>

      <ul>
        <li><%= link_to 'My Families ', :controller => 'teaching_routes', :action => 'teacherList', :id => session[:user_id] %></li>
      </ul>

      <% if session[:access_level] >=2 %>
        <% now = Date.current %>
        <ul>
          <li><%= link_to 'Assignments', :controller => 'action_items', :action => 'wardActionItems' %></li>
        </ul>

        <ul>
          <li>
            <%= link_to 'Reports', :controller => 'reports', :action => 'monthlyReport' %>
            <ul>
              <li><%= link_to 'Month', :controller => 'reports', :action => 'monthlyReport' %></li>
              <li><%= link_to 'Was Visited', "/reports/was_visited/Home%20Teaching/#{now.year}/#{now.month}" %></li>
            </ul>
          </li>
        </ul>

        <ul>
          <li>
            Lists
            <ul>
              <li><%= link_to 'Focus List', "/list/focus/" %></li>
              <li><%= link_to 'New or Returning', "/list/new/" %></li>
            </ul>
          </li>
        </ul>

        <ul>
          <li><%= link_to 'Stats', :controller => 'stats' %></li>
        </ul>
      <% end %>

      <% if session[:access_level] >=3 %>
        <ul>
          <li><%= link_to "Admin", :controller => 'users', :action => 'index' %></li>
        </ul>
      <% end %>
      <ul>
        <li><%= link_to "FAQ", faq_path %></li>
      </ul>
    </div>
    <div id="main">
      <!-- START:flash -->
      <% if flash[:notice] -%>
        <div id="notice"> <%=flash[:notice] %> </div>
      <% end -%>
      <!-- END:flash -->
      <%= yield :layout %><!-- <label id="code.depot.e.include"/> -->
      </div> <!-- main -->
  </div> <!-- columns -->
</body>
</html>
